*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    height: 100vh;
    background-image: linear-gradient(to right, #4FACFE, #00F2FE);
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 150px;
    height: 475px;
    width: 360px;
    background-color: #1E1E1E;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.screen {
    background-color: #000000;
    height: 70px;
    border-radius: 10px;
    color: #0AFFD1;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 10px 20px;
    font-size: 35px;
}

.keypad {
    display: flex;

}

.right-column {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sub-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;


}

.button {
    width: 72px;
    height: 60px;
    background-color: #2C2C2C;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    font-size: 22px;
}

.button:hover {
    cursor: pointer;
    background-color: #3C3C3C;
}

.equal {
    flex: 2;
    background-color: #00C853;
}

.equal:hover {
    background-color: #00E676;
}

.zero {
    flex: 2;
    max-width: 156px;
}

.operator {
    background-color: #FF8C42;

}

.operator:hover {
    background-color: #FFA762;
}